XML_Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define complex types for elements with child elements -->
    <xs:element name="website">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="header"/>
                <xs:element ref="navigation"/>
                <xs:element ref="homeSection"/>
                <xs:element ref="optionsSection"/>
                <xs:element ref="tableSection"/>
                <xs:element ref="hobbiesSection"/>
                <xs:element ref="aboutSection"/>
                <xs:element ref="contactSection"/>
                <xs:element ref="surveySection"/>
                <xs:element ref="footer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Header section -->
    <xs:element name="header">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="darkModeSwitch"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Switching modes section -->
    <xs:element name="darkModeSwitch">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="toggleText" type="xs:string"/>
                <xs:element name="toggleIcon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Navigation section -->
    <xs:element name="navigation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="menuItems"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Menu Items section -->
    <xs:element name="menuItems">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Home Section -->
    <xs:element name="homeSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titleGroup"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Title Group -->
    <xs:element name="titleGroup">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="h1" type="xs:string"/>
                <xs:element name="h2" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Options Section -->
    <xs:element name="optionsSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topicsTitle" type="xs:string"/>
                <xs:element ref="optionsMenu"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Options Menu -->
    <xs:element name="optionsMenu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="menuItem" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                        <xs:element ref="subMenu" minOccurs="0"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sub Menu -->
    <xs:element name="subMenu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subItem" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Table Section -->
    <xs:element name="tableSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tableData"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Table Data -->
    <xs:element name="tableData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="programming" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="language" type="xs:string"/>
                            <xs:element name="activity" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Hobbies Section -->
    <xs:element name="hobbiesSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="hobbiesTitle"/>
                <xs:element ref="hobbiesContainer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Hobbies Title -->
    <xs:element name="hobbiesTitle" type="xs:string"/>

    <!-- Hobbies Container -->
    <xs:element name="hobbiesContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hobby" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="imageSource" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- About Section -->
    <xs:element name="aboutSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="aboutTitle"/>
                <xs:element ref="textBox"/>
                <xs:element ref="aboutText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- About Title -->
    <xs:element name="aboutTitle" type="xs:string"/>

    <!-- Text Box -->
    <xs:element name="textBox">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paragraph" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- About Text -->
    <xs:element name="aboutText">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paragraph" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Contact Section -->
    <xs:element name="contactSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contactTitle"/>
                <xs:element ref="socialIcons"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Contact Title -->
    <xs:element name="contactTitle" type="xs:string"/>

    <!-- Social Icons -->
    <xs:element name="socialIcons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iconLink" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="href" type="xs:anyURI"/>
                                <xs:attribute name="target" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="links" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="link" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="href" type="xs:anyURI"/>
                                            <xs:attribute name="target" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Survey Section -->
    <xs:element name="surveySection">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="surveyTitle"/>
                <xs:element ref="surveyForm"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Survey Title -->
    <xs:element name="surveyTitle" type="xs:string"/>

    <!-- Survey Form -->
    <xs:element name="surveyForm">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inputField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="type" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="required" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- Select Field -->
                <xs:element name="selectField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="value" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="label" type="xs:string"/>
                        <xs:attribute name="id" type="xs:string"/>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="textareaField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="rows" type="xs:integer"/>
                                <xs:attribute name="required" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="checkboxField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="radioField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="submitButton" type="xs:string"/>
                <xs:element name="clearButton" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Footer Section -->
    <xs:element name="footer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stickyFooter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sticky Footer -->
    <xs:element name="stickyFooter">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="footerContent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Footer Content -->
    <xs:element name="footerContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="footerText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>