XML_Schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Define complex types for elements with child elements -->
    <xs:element name="website">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="header"/>
                <xs:element ref="navigation"/>
                <xs:element ref="homeSection"/>
                <!-- <xs:element ref="optionsSection"/> -->
                <xs:element ref="tableSection"/>
                <xs:element ref="hobbiesSection"/>
                <xs:element ref="aboutSection"/>
                <xs:element ref="contactSection"/>
                <xs:element ref="surveySection"/>
                <xs:element ref="footer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Adding global complex types -->
    <!-- Adding union type definition -->
    <xs:simpleType name="ToggleTextType">
        <xs:union memberTypes="xs:string xs:float"/>
    </xs:simpleType>

    <!-- Adding global complex types -->
    <xs:complexType name="DarkModeSwitchType">
        <xs:sequence>
            <!-- Using the union type for toggleText -->
            <xs:element name="toggleText" type="ToggleTextType"/>
            <xs:element name="toggleIcon" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element ref="darkModeSwitch"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="header" type="HeaderType"/>

    <xs:element name="darkModeSwitch" type="DarkModeSwitchType"/>


    <!-- Adding global complex types -->
    <xs:complexType name="MenuItemType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="MenuItemsType">
        <xs:sequence>
            <xs:element name="item" maxOccurs="unbounded" type="MenuItemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NavigationType">
        <xs:sequence>
            <xs:element ref="menuItems"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="menuItems" type="MenuItemsType"/>

    <xs:element name="navigation" type="NavigationType"/>

    <!-- Adding global complex types -->
    <xs:complexType name="TitleGroupType">
        <xs:sequence>
            <xs:element name="h1" type="xs:string"/>
            <xs:element name="h2" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HomeSectionType">
        <xs:sequence>
            <xs:element ref="titleGroup"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="titleGroup" type="TitleGroupType"/>

    <xs:element name="homeSection" type="HomeSectionType"/>

    <!-- Options Section
    <xs:element name="optionsSection">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="topicsTitle" type="xs:string"/>
                <xs:element ref="optionsMenu"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element> -->
    
    <!-- Adding global simple types -->
    <xs:simpleType name="IdType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="SubItemType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="IdType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SubMenuType">
        <xs:sequence>
            <xs:element name="subItem" maxOccurs="unbounded" type="SubItemType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TableSectionType">
        <xs:sequence>
            <xs:element ref="tableData"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="subMenu" type="SubMenuType"/>

    <xs:element name="tableSection" type="TableSectionType"/>

    <!-- Adding global simple type -->
    <xs:simpleType name="LanguageType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="ActivityType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="ProgrammingType">
        <xs:sequence>
            <xs:element name="language" type="LanguageType"/>
            <xs:element name="activity" type="ActivityType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TableDataType">
        <xs:sequence>
            <xs:element name="programming" maxOccurs="unbounded" type="ProgrammingType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="tableData" type="TableDataType"/>

    <!-- Adding global simple type -->
    <xs:simpleType name="HobbiesTitleType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <!-- Adding group definition -->
    <xs:group name="HobbiesSectionGroup">
        <xs:sequence>
            <xs:element name="hobbiesTitle" type="HobbiesTitleType"/>
            <xs:element ref="hobbiesContainer"/>
        </xs:sequence>
    </xs:group>

    <!-- Adding global complex types -->
    <xs:complexType name="HobbiesSectionType">
        <xs:group ref="HobbiesSectionGroup"/>
    </xs:complexType>

    <xs:element name="hobbiesSection" type="HobbiesSectionType"/>

    <!-- Hobbies Title -->
    <xs:element name="hobbiesTitle" type="xs:string"/>

    <!-- Hobbies Container -->
    <xs:element name="hobbiesContainer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hobby" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="imageSource" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Adding global simple type -->
   <xs:simpleType name="AboutTitleType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="TextBoxType">
        <xs:sequence>
            <xs:element name="paragraph" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AboutSectionType">
        <xs:sequence>
            <xs:element name="aboutTitle" type="AboutTitleType"/>
            <xs:element name="textBox" type="TextBoxType"/>
            <xs:element name="aboutText" type="TextBoxType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:element name="aboutSection" type="AboutSectionType"/>

    <!-- About Title -->
    <xs:element name="aboutTitle" type="xs:string"/>

    <!-- Text Box -->
    <xs:element name="textBox">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paragraph" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Local complex types -->
    <!-- About Text -->
    <xs:element name="aboutText">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paragraph" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Using choice order indicator -->
    <!-- Contact Section -->
    <xs:element name="contactSection">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="contactTitle"/>
                <xs:element ref="socialIcons"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <!-- End of local complex types -->

    <!-- End of local complex types -->

    <!-- Contact Title -->
    <xs:element name="contactTitle" type="xs:string"/>

    <!-- Social Icons -->
    <xs:element name="socialIcons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="iconLink" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="href" type="xs:anyURI"/>
                                <xs:attribute name="target" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="links" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="link" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="href" type="xs:anyURI"/>
                                            <xs:attribute name="target" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Adding local simple types -->
    <!-- Survey Section -->
    <xs:element name="surveySection">
        <xs:complexType>
            <xs:sequence>
                <!-- Use local simple type for surveyTitle -->
                <xs:element name="surveyTitle">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="surveyForm"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Survey Title -->
    <xs:element name="surveyTitle" type="xs:string"/>

    <!-- Global attribute declaration -->
    <xs:attribute name="label" type="xs:string"/>

    <!-- Survey Form -->
    <xs:element name="surveyForm">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="inputField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <!-- Global attribute used -->
                                <xs:attribute ref="label"/>
                                <xs:attribute name="type" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="required" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <!-- Select Field -->
                <xs:element name="selectField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="value" type="xs:string"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- Global attribute used -->
                        <xs:attribute ref="label"/>
                        <xs:attribute name="id" type="xs:string"/>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="textareaField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="rows" type="xs:integer"/>
                                <xs:attribute name="required" type="xs:boolean"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="checkboxField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="id" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="radioField" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="label" type="xs:string"/>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="submitButton" type="xs:string"/>
                <xs:element name="clearButton" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Adding local simple types -->
    <!-- Footer Section -->
    <xs:element name="footer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="stickyFooter"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Using all order indicator -->
    <!-- Sticky Footer -->
    <xs:element name="stickyFooter">
        <xs:complexType>
            <xs:all>
                <xs:element ref="footerContent"/>
            </xs:all>
        </xs:complexType>
    </xs:element>


    <!-- Adding local simple type -->
    <!-- Using sequence order indicator -->
    <!-- Footer Content -->
    <xs:element name="footerContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="footerText">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>